<% layout("/layouts/boilerplate") %>
<body>
  <h2>Edit Listing</h2>
  <form action="/listings/<%= listing._id %>?_method=PUT" method="post">

  <input type="text" name="listing[title]" value="<%= listing.title %> "  placeholder="title">
  <br>
  <br>
  <textarea name="listing[description]" id="" placeholder="description"><%= listing.description %></textarea>
    <br>
    <br>
    <input type="text" name="listing[image][url]" value="<%= listing.image.url %>" placeholder="img">
    <br>
    <br>
    <input type="number" name="listing[price]" value="<%= listing.price%>" placeholder="price">
     <br>
     <br>
    <input type="text" name="listing[location]" value="<%= listing.location %>" placeholder="location">
       <br>
       <br>
    <input type="text" name="listing[country]" value="<%= listing.country %>" placeholder="country">
     <br>
     <br>
    <button>submit</button>
  </form>
</body>