<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>All Listings</h2>
  <form action="/newlisting" method="get">
  <button>createNew</button>
  </form>

  <ul>
    <% if (allListing.length > 0) { %>
      <% for(let listing of allListing) { %>
        <li style="display: flex; gap: 10px;margin-top: 10px;"><a href="/listings/<%= listing._id %>"> <%= listing.title %></a> <form action="/listings/<%= listing._id %>/?_method=DELETE" method="post"><button>Delete</button></form> </li>
      <% } %>
    <% } else { %>
      <li>No listings available.</li>
    <% } %>
  </ul>
</body>
</html> -->

<% layout("/layouts/boilerplate") %>
<body>
  <!-- <h2>All Listings</h2> -->
  <!-- <form action="/newlisting" method="get">
  <button>createNew</button>
  </form> -->

  <div class="cardComponent">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 ">
      <% for(let listing of allListing) { %>

      <div class="card ms-3 mt-4" style="width: 18rem;height: 23rem; ">
        <div class="img-container">
             <img
          src="<%= listing.image.url %>"
          class="card-img-top "
          alt="..."
        />
        </div>
        <div class="card-body">
          <p class="card-text">
               <b><%= listing.title %></b>
               <br>
              &#8377; <%= listing.price.toLocaleString("en-IN") %>
          </p>
          <a href="/listings/<%= listing._id %>" class="btn btn-primary mt-2 ">View Details</a>
        
        </div>
      </div>

      <% } %>
    </div>
  </div>
  <br><br>

  <!-- <ul>
    <% if (allListing.length > 0) { %>
      <% for(let listing of allListing) { %>
        <li style="display: flex; gap: 10px;margin-top: 10px;"><a href="/listings/<%= listing._id %>"> <%= listing.title %></a> <form action="/listings/<%= listing._id %>/?_method=DELETE" method="post"><button>Delete</button></form> </li>
      <% } %>
    <% } else { %>
      <li>No listings available.</li>
    <% } %>
  </ul> -->
</body>
