<% layout("/layouts/boilerplate") %>
<body>
  <div id="heading-info">
    <h1><%= listing.title %></h1>
  <p>Info:- <%= listing.description %></p>
  </div>
  <img id="img" src="<%= listing.image.url %>" alt="img">
  <h4>  &#8377; <%= listing.price.toLocaleString("en-IN") %></h4>
  <h3><%= listing.location %> </h3>
  <h3><%= listing.country %></h3>
  <form method="get" action="/listings/<%=listing._id %>/edit "> 
    <button>Edit page</button>
  </form>
  <a href="/listings"><button>Home Page</button></a>
</body>
